<!-- Load navbar partial -->
{{> navbar }}

<!-- Main container -->
<div class="container">
    <div class="row">
        <div class="menu">
            <div class="col-md-3">
                <div class="menu-category">
                    <img class="menu-category-image img-circle" data-src="holder.js/200x200/sky">
                    <h2 class="menu-category-title">Appetizers</h2>
                    <ul>
                        <li><a href="#">Chicken Wings</a></li>
                        <li><a href="#">Onion Rings</a></li>
                        <li><a href="#">Poutine</a></li>
                        <li><a href="#">Garlic Bread</a></li>
                        <li><a href="#">Caesar Salad</a></li>
                        <li><a href="#">Zucchini Sticks</a></li>
                        <li><a href="#">Fries</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="menu-category">
                    <img class="menu-category-image img-circle" data-src="holder.js/200x200/sky">
                    <h2 class="menu-category-title">Pizza</h2>
                    <ul>
                        <li><a href="#">Build Your Own Pizza</a></li>
                        <li><a href="#">Supreme Pizza</a></li>
                        <li><a href="#">Hawaiian Pizza</a></li>
                        <li><a href="#">Meat Lovers</a></li>
                        <li><a href="#">Canadian Pizza</a></li>
                        <li><a href="#">Vegetarian Pizza</a></li>
                        <li><a href="#">Mediterranean Pizza</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="menu-category">
                    <img class="menu-category-image img-circle" data-src="holder.js/200x200/sky">
                    <h2 class="menu-category-title">Beverages</h2>
                    <ul>
                        <li><a href="#">Coke Classic</a></li>
                        <li><a href="#">Coke Zero</a></li>
                        <li><a href="#">Diet Coke</a></li>
                        <li><a href="#">Sprite</a></li>
                        <li><a href="#">Nestea</a></li>
                        <li><a href="#">Canada Dry</a></li>
                        <li><a href="#">Fanta Orange</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="menu-category">
                    <img class="menu-category-image img-circle" data-src="holder.js/200x200/sky">
                    <h2 class="menu-category-title">Dipping Sauce</h2>
                    <ul>
                        <li><a href="#">Creamy Garlic</a></li>
                        <li><a href="#">Buffalo Sauce</a></li>
                        <li><a href="#">Honey Garlic</a></li>
                        <li><a href="#">Ranch</a></li>
                        <li><a href="#">Blue Cheese</a></li>
                        <li><a href="#">BBQ</a></li>
                        <li><a href="#">Hot Sauce</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Load footer partial -->
{{> footer }}

<!-- Load page specific scripts -->
{{#yield-scripts}}
    <script src="/js/main.js"></script>
{{/yield-scripts}}
