<!-- Load navbar partial -->
{{> navbar }}

<!-- Main container -->
<div class="container">
    <div class="row">
        <div class="menu">
            <div class="col-md-3">
                <div class="menu-category">
                    <img class="menu-category-image img-circle" data-src="holder.js/200x200/sky">
                    <h2 class="menu-category-title">Appetizers</h2>
                    <ul>
                        <li><a href="#modal-appetizers" role="button" data-toggle="modal">Chicken Wings</a></li>
                        <li><a href="#modal-appetizers" role="button" data-toggle="modal">Onion Rings</a></li>
                        <li><a href="#modal-appetizers" role="button" data-toggle="modal">Poutine</a></li>
                        <li><a href="#modal-appetizers" role="button" data-toggle="modal">Garlic Bread</a></li>
                        <li><a href="#modal-appetizers" role="button" data-toggle="modal">Caesar Salad</a></li>
                        <li><a href="#modal-appetizers" role="button" data-toggle="modal">Zucchini Sticks</a></li>
                        <li><a href="#modal-appetizers" role="button" data-toggle="modal">Fries</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="menu-category">
                    <img class="menu-category-image img-circle" data-src="holder.js/200x200/sky">
                    <h2 class="menu-category-title">Pizza</h2>
                    <ul>
                        <li><a href="#modal-custom-pizza" role="button" data-toggle="modal">Build Your Own Pizza</a></li>
                        <li><a href="#modal-pre-made-pizza" role="button" data-toggle="modal">Supreme Pizza</a></li>
                        <li><a href="#modal-pre-made-pizza" role="button" data-toggle="modal">Hawaiian Pizza</a></li>
                        <li><a href="#modal-pre-made-pizza" role="button" data-toggle="modal">Meat Lovers</a></li>
                        <li><a href="#modal-pre-made-pizza" role="button" data-toggle="modal">Canadian Pizza</a></li>
                        <li><a href="#modal-pre-made-pizza" role="button" data-toggle="modal">Vegetarian Pizza</a></li>
                        <li><a href="#modal-pre-made-pizza" role="button" data-toggle="modal">Mediterranean Pizza</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="menu-category">
                    <img class="menu-category-image img-circle" data-src="holder.js/200x200/sky">
                    <h2 class="menu-category-title">Beverages</h2>
                    <ul>
                        <li><a href="#modal-beverages" role="button" data-toggle="modal">Coke Classic</a></li>
                        <li><a href="#modal-beverages" role="button" data-toggle="modal">Coke Zero</a></li>
                        <li><a href="#modal-beverages" role="button" data-toggle="modal">Diet Coke</a></li>
                        <li><a href="#modal-beverages" role="button" data-toggle="modal">Sprite</a></li>
                        <li><a href="#modal-beverages" role="button" data-toggle="modal">Nestea</a></li>
                        <li><a href="#modal-beverages" role="button" data-toggle="modal">Canada Dry</a></li>
                        <li><a href="#modal-beverages" role="button" data-toggle="modal">Fanta Orange</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="menu-category">
                    <img class="menu-category-image img-circle" data-src="holder.js/200x200/sky">
                    <h2 class="menu-category-title">Dipping Sauce</h2>
                    <ul>
                        <li><a href="#modal-sauces" role="button" data-toggle="modal">Creamy Garlic</a></li>
                        <li><a href="#modal-sauces" role="button" data-toggle="modal">Buffalo Sauce</a></li>
                        <li><a href="#modal-sauces" role="button" data-toggle="modal">Honey Garlic</a></li>
                        <li><a href="#modal-sauces" role="button" data-toggle="modal">Ranch</a></li>
                        <li><a href="#modal-sauces" role="button" data-toggle="modal">Blue Cheese</a></li>
                        <li><a href="#modal-sauces" role="button" data-toggle="modal">BBQ</a></li>
                        <li><a href="#modal-sauces" role="button" data-toggle="modal">Hot Sauce</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Load footer partial -->
{{> footer }}

<!-- Load page specific scripts -->
{{#yield-scripts}}
    <script src="/js/main.js"></script>
{{/yield-scripts}}
