<!-- Custom Pizza Modal -->
<div class="modal fade" id="modal-custom-pizza"
    tabindex="-1" role="dialog" aria-labelledby="custom-pizza" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
                    data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Build a Custom Pizza</h4>
            </div>
            <div class="modal-body">
                <p>Custom Pizza Modal</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Pre-made Pizza Modal-->
<div class="modal fade" id="modal-pre-made-pizza"
    tabindex="-1" role="dialog" aria-labelledby="pre-made-pizza" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
                    data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Pre-made Pizza</h4>
            </div>
            <div class="modal-body">
                <p>Pre-made Pizza Modal</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Appetizer Modal -->
<div class="modal fade" id="modal-appetizers"
    tabindex="-1" role="dialog" aria-labelledby="appetizers" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
                    data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Appetizers</h4>
            </div>
            <div class="modal-body">
                <p>Appetizers Modal</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Beverage Modal -->
<div class="modal fade" id="modal-beverages"
    tabindex="-1" role="dialog" aria-labelledby="beverages" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
                    data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Beverages</h4>
            </div>
            <div class="modal-body">
                <p>Beverage Modal</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Sauce Modal -->
<div class="modal fade" id="modal-sauces"
    tabindex="-1" role="dialog" aria-labelledby="sauces" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
                    data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Dipping Sauce</h4>
            </div>
            <div class="modal-body">
                <p>Sauce Modal</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>