<!-- Custom Pizza Modal -->
<div class="modal fade" id="modal-custom-pizza"
    tabindex="-1" role="dialog" aria-labelledby="custom-pizza" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
                    data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Build-Your-Own Pizza</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Size</label>
                            <select class="form-control">
                                <option>Small - $6.99</option>
                                <option selected>Medium - $8.99</option>
                                <option>Large - $10.99</option>
                                <option>Extra Large - $12.99</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Crust</label>
                            <select class="form-control">
                                <option>Thin</option>
                                <option selected>Thick</option>
                                <option>Thick Whole Wheat</option>
                            </select>
                        </div>
                    </div>
                </div>
                <label>Toppings ($0.99 each)</label>
                <div class="row">
                    <div class="col-md-4">
                        <label>
                            <input type="checkbox"> Broccoli
                        </label>
                        <label>
                            <input type="checkbox"> Extra Sauce
                        </label>
                        <label>
                            <input type="checkbox"> Mushrooms
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label>
                            <input type="checkbox"> Olives (Black)
                        </label>
                        <label>
                            <input type="checkbox"> Olives (Green)
                        </label>
                        <label>
                            <input type="checkbox"> Pepperoni
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label>
                            <input type="checkbox"> Pineapple
                        </label>
                        <label>
                            <input type="checkbox"> Red onions
                        </label>
                        <label>
                            <input type="checkbox"> Tomatoes
                        </label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <p class="form-control-static" style="display:inline"><strong>$8.99</strong> &nbsp;</p>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
<!-- Pre-made Pizza Modal-->
<div class="modal fade" id="modal-pre-made-pizza"
    tabindex="-1" role="dialog" aria-labelledby="pre-made-pizza" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
                    data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Supreme Pizza</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Size</label>
                            <select class="form-control">
                                <option>Small - $7.99</option>
                                <option selected>Medium - $9.99</option>
                                <option>Large - $11.99</option>
                                <option>Extra Large - $13.99</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Crust</label>
                            <select class="form-control">
                                <option>Thin</option>
                                <option selected>Thick</option>
                                <option>Thick Whole Wheat</option>
                            </select>
                        </div>
                    </div>
                </div>

                <p><strong>Includes the following toppings</strong></p>
                <ul>
                    <li>Pepperoni</li>
                    <li>Pineapple</li>
                </ul>
                <p class="text-center">Want to customize your toppings?  Choose a &ldquo;Build-your-own&rdquo; pizza instead.</p>
            </div>
            <div class="modal-footer">
                <p class="form-control-static" style="display:inline"><strong>$9.99</strong> &nbsp;</p>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
<!-- Appetizer Modal -->
<div class="modal fade" id="modal-appetizers"
    tabindex="-1" role="dialog" aria-labelledby="appetizers" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
                    data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Appetizers</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">10 Chicken Wings</label>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="group1" value+"option1"> Breaded
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="group1" value+"option2"> Unbreaded
                        </label>
                    </div>
                    <label>Subtotal: $7.99</label>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
<!-- Beverage Modal -->
<div class="modal fade" id="modal-beverages"
    tabindex="-1" role="dialog" aria-labelledby="beverages" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
                    data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Beverages</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="beverage">Coke Classic</label>
                        <input id="beverage" type="number" class="form-control modal-quantity" value="1">
                    </div>
                    <label class="modal-subtotal">Subtotal: $1.75</label>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
<!-- Sauce Modal -->
<div class="modal fade" id="modal-sauces"
    tabindex="-1" role="dialog" aria-labelledby="sauces" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
                    data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Dipping Sauce</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="sauce">Creamy Garlic</label>
                        <input id="sauce" type="number" class="form-control modal-quantity" value="1">
                    </div>
                    <label class="modal-subtotal">Subtotal: $0.95</label>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Add to Cart</button>
            </div>
        </div>
    </div>
</div>

<!-- Basic modal -->
<div class="modal fade" id="modal-basic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
                    data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
