/* Custom styles */

/* Global */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Menu */

.menu {
    padding-top: 20px;
}

.menu-category {
    padding-bottom: 20px;
}

.menu-category-title {
    text-align: center;
}

.menu-category-image {
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
}

/* Footer */

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
}

/* Utility */

.center-x {
    text-align: center;
}

/* Cart */

.cart {
    border: 1px solid #CCC;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
    height: 125px;
    margin-bottom: 1rem;
    overflow: hidden;
}

.cart-left, .cart-right {
    display: inline-block;
    height: 100%;
    width: 3rem;
}

.cart-left {
    float: left;
}

.cart-right {
    float: right;
}

.cart > div {
    background: #F8F8F8;
    border: 1px solid #CCC;
    display: inline-block;
    height: 113px;
    margin: 5px 10px;
    padding: 5px;
    text-align: center;
    width: 150px;
}

.cart > div h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0.5rem 0;
    text-align: center;
}

/* Order Summary */

.order-summary {
    border: 1px solid #CCC;
    font-family: Menlo, Courier, serif;
    font-size: 12px;
    padding: 5px;
}

.order-summary h2 {
    margin-top: 0;
}

/* Modal */

.modal-quantity {
  width: 20px;
}

.modal-subtotal {
  padding-left: 10px;
}